@import "../lib/_variables.scss";


.app-body {
    .header {
        position: fixed;
        top: 0rem;
        left: 0rem;
        width: 100%;
        height: $header-height;
        background-color: $header-bgcolor;
        z-index: 100;
        .header-contents {
            width: 100%;
            height: 100%;
            .search-panel {
                float: left;
                width: 100% - $menu-width;
                max-width: 100% - $menu-width;
                height: 100%;
                display: inline-block;
                text-align: center;
                .search-bar-wrapper {
                    width: 100%;
                    .search-bar {
                        @include border-radius(7px);
                        background-color: #101010;
                        border: solid 2px #090909;
                        width: 80%;
                        height: 2.8rem;
                        color: $body-color - #404040;
                        font-size: 1.8rem;
                        padding: 0.1rem;
                        padding-left: 0.8rem;
                        padding-right: 0.8rem;
                        margin-top: ($header-height - 2.8rem - 0.6rem) / 2;
                        &:focus {
                            @include border-radius(7px);
                            outline: 0;
                            border: solid 3px #8ec6ff;
                            color: $body-color;
                        }
                    }
                }
            }
            .control-panel {
                float: left;
                width: $menu-width;
                max-width: $menu-width;
                height: 100%;
                display: inline-block;
                text-align: center;
                .menu-button-wrapper {
                    display: inline-block;;
                    max-width: 35.0rem;
                    margin-left: 1rem;
                    margin-right: 1rem;
                    .menu-button {
                        cursor: pointer;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                        margin-top: 1.3rem;
                        img {
                            width: 2.5rem;
                        }
                    }
                    .locked {
                        color: $body-color - #202020;
                        background-color: $button-bgcolor - #202020;
                        &:hover {
                            cursor: wait;
                            color: $body-color - #202020;
                            background-color: $button-bgcolor - #202020;
                        }
                    }
                }
            }
        }
    }
}
