<!DOCTYPE html>
<html ng-app="readus">
    <head>
        <meta charset="UTF-8">
        <title>Blender Add-on Manager for GitHub</title>
        <script type="text/javascript">
            window.jQuery = window.$ = require('../js/ext/jquery-3.1.1.min.js');
        </script>
        <script src="../../bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="../js/db.js"></script>
    </head>
    <body>
        <div ng-controller="MainController as main">
            <div class="addon-list">
                <div id="btn-installed-addonlist">
                    Installed
                </div>
                <div id="btn-github-addonlist">
                    GitHub
                </div>
                <div id="btn-update-addonlist">
                    Update
                </div>
            </div>
            <div class="blender-version" ng-show="showBlVerSelect">
                <select name="blVerSelect" ng-change="blVerSelectChanged()" ng-model="blVerSelect" ng-options="ver as ver for ver in main.blVerList">
                </select>
            </div>
            <div class="addon-info">
                <div ng-repeat="(i, repo) in main.repoList">
                    <div class="addon-item">
                        <div class="name">
                            {{i + 1}} - {{repo.bl_info.name}}
                        </div>
                        <div class="author">
                            Author: {{repo.bl_info.author}}
                        </div>
                        <div class="version">
                            Version: {{repo.bl_info.version}}
                        </div>
                        <div class="bl-version">
                            Support Blender Version: {{repo.bl_info.blender}}
                        </div>
                        <div class="category">
                            Category: {{repo.bl_info.category}}
                        </div>
                        <div class="download">
                            <a href={{repo.bl_info.download_url}}>Download</a>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <button id="update-db" type="button">Update</button>
        </div>
    </body>
</html>
