@import "compass/css3/border-radius";
@import "compass/css3/appearance";
@import "compass/css3/box-sizing";

@font-face {
    font-family: "Default";
    font-style: normal;
    font-weight: normal;
    src: local("Meiryo UI");
}


@mixin scrollbar() {
    ::-webkit-scrollbar {
        display: none;
    }
}

$menu-width: 20%;

$body-color: #B0B0B0;
$body-bgcolor: #1a1b1a;
$menu-bgcolor: #222222;
$container-bgcolor: $body-bgcolor;

$addonitem-bgcolor: $container-bgcolor + #101010;

$selector-active-color: #F0F0F0;
$selector-active-bgcolor: #585858;
$selector-hover-color: #E0E0E0;
$selector-hover-bgcolor: #393939;

$button-bgcolor: #404040;
$button-hover-bgcolor: #606060;

$selectbox-bgcolor: $button-bgcolor;
$selectbox-hover-bgcolor: $button-hover-bgcolor;

$header-height: 5.0rem;

html {
    font-size: 12px;
    height: 100%;
    margin: 0rem;
}

body {
    @include box-sizing(border-box);
    margin: 0rem;
    background-color: $body-bgcolor;
    height: 100%;
    overflow: auto;
}

.frame {
    @include box-sizing(border-box);
    @include scrollbar();
    height: 100%;
    overflow: auto;
}

.frame-spacer {
    height: 1000rem;
}

.app-body {
    font-family: "Default";
    font-size: 1rem;
    color: $body-color;
    .header {
        position: fixed;
        top: 0rem;
        left: 0rem;
        width: 100%;
        height: $header-height;
        background-color: $menu-bgcolor;
        z-index: 100;
        .header-contents {
            width: 100%;
            height: 100%;
            .search-panel {
                float: left;
                width: 100% - $menu-width;
                max-width: 100% - $menu-width;
                height: 100%;
                display: inline-block;
                text-align: center;
                .search-bar-wrapper {
                    width: 100%;
                    .search-bar {
                        @include border-radius(7px);
                        background-color: #101010;
                        border: solid 2px #090909;
                        width: 80%;
                        height: 2.8rem;
                        color: $body-color - #404040;
                        font-size: 1.8rem;
                        padding: 0.1rem;
                        padding-left: 0.8rem;
                        padding-right: 0.8rem;
                        margin-top: ($header-height - 2.8rem - 0.6rem) / 2;
                        &:focus {
                            @include border-radius(7px);
                            outline: 0;
                            border: solid 3px #8ec6ff;
                            color: $body-color;
                        }
                    }
                }
            }
            .control-panel {
                float: left;
                width: $menu-width;
                max-width: $menu-width;
                height: 100%;
                display: inline-block;
                text-align: center;
                .menu-button-wrapper {
                    display: inline-block;;
                    width: 5.0rem;
                    max-width: 35.0rem;
                    .menu-button {
                        cursor: pointer;
                        display: block;
                        background-color: $button-bgcolor;
                        border: 1px solid #000000;
                        padding: 5px;
                        margin: 3px;
                        margin-left: auto;
                        margin-right: auto;
                        width: 80%;
                        text-align: center;
                        @include border-radius(3px);
                        &:hover {
                            background-color: $button-hover-bgcolor;
                        }
                    }
                }
            }
        }
    }
    .menu {
        float: left;
        width: $menu-width;
        max-width: $menu-width;
        background-color: $menu-bgcolor;
        padding-top: $header-height;
        .menu-item-title {
            text-align: center;
            padding: 1.0rem;
            font-size: 1.2rem;
            font-color: $body-color + #202020;
            font-weight: bold;
        }
        .menu-selector {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            label {
                display: block;
            }
            .addon-list-selector-item {
                cursor: pointer;
                padding: 0.5rem;
                list-style: none;
                &:hover {
                    color: $selector-hover-color;
                    background-color: $selector-hover-bgcolor;
                }
            }
            .addonListActive, .addonListActive:hover {
                color: $selector-active-color;
                background-color: $selector-active-bgcolor;
            }
            .addon-category-selector-item {
                cursor: pointer;
                padding: 0.5rem;
                list-style: none;
                &:hover {
                    color: $selector-hover-color;
                    background-color: $selector-hover-bgcolor;
                }
            }
            .addonCategoryActive, .addonCategoryActive:hover {
                color: $selector-active-color;
                background-color: $selector-active-bgcolor;
            }
        }
        .menu-selectbox-wrapper {
            width: 100%;
            max-width: 100%;
            .menu-selectbox {
                display: block;
                color: $body-color;
                background-color: $selectbox-bgcolor;
                width: 80%;
                border: 1px solid #000000;
                padding: 0.5rem;
                margin: 3px;
                margin-left: auto;
                margin-right: auto;
                @include appearance(none);
                @include border-radius(3px);
                &:focus {
                    outline: 0;
                }
                &:hover {
                    background-color: $selectbox-hover-bgcolor;
                }
            }
        }
    }
    .container {
        background-color: $container-bgcolor;
        width: 100% - $menu-width;
        max-width: 100% - $menu-width;
        padding-top: $header-height;
        .addon-info {
            @include box-sizing(border-box);
            padding: 1rem;
            .addon-item {
                @include border-radius(5px);
                @include box-sizing(border-box);
                width: 70%;
                max-width: 70%;
                border: 0.1rem solid #000000;
                background-color: $addonitem-bgcolor;
                padding: 1rem;
                margin-left: auto;
                margin-right: auto;
                .name {
                    font-size: 1.7rem;
                    font-weight: bold;
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                }
                .description {
                    font-size: 1.2rem;
                    color: $body-color - #101010;
                    margin-top: 1.0rem;
                    margin-bottom: 1.0rem;
                }
                .author {
                    color: $body-color - #404040;
                    font-size: 1.0rem;
                    margin-top: 1.5rem;
                    margin-bottom: 1.5rem;
                }
                .version {
                    position: relative;
                    top: -10.0rem;
                    text-align: right;
                }
                .bl-version {
                    position: relative;
                    top: -10.0rem;
                    text-align: right;
                }
                .category {
                    position: relative;
                    top: -10.0rem;
                    margin-bottom: -7.0rem;
                    text-align: right;
                }
                .container-button-wrapper {
                    width: 20%;
                    max-width: 20%;
                    display: inline-block;
                    .container-button {
                        cursor: pointer;
                        display: block;
                        background-color: $button-bgcolor;
                        border: 1px solid #000000;
                        padding: 5px;
                        margin: 3px;
                        margin-left: auto;
                        margin-right: auto;
                        width: 80%;
                        text-align: center;
                        @include border-radius(3px);
                        &:hover {
                            background-color: $button-hover-bgcolor;
                        }
                    }
                    .locked {
                        color: $body-color - #202020;
                        background-color: $button-bgcolor - #202020;
                        &:hover {
                            cursor: wait;
                            color: $body-color - #202020;
                            background-color: $button-bgcolor - #202020;
                        }
                    }
                }
            }
        }
    }
}
