<div ng-repeat="(i, key) in main.repoList">
    <div class="addon-item">
        <div class="name">
            {{addonStatus[key].github.bl_info.name}}
        </div>
        <div class="description">
            {{addonStatus[key].github.bl_info.description ? addonStatus[key].github.bl_info.description : '(No Description)'}}
        </div>
        <div class="author">
            {{blStr('author', addonStatus[key].github.bl_info.author);}}
        </div>
        <div class="version">
            @{{addonStatus[key].github.bl_info.version ? addonStatus[key].github.bl_info.version : '-'}}
        </div>
        <div class="bl-version">
            #{{addonStatus[key].github.bl_info.blender ? addonStatus[key].github.bl_info.blender : '-'}}
        </div>
        <div class="category">
            ${{addonStatus[key].github.bl_info.category ? addonStatus[key].github.bl_info.category : '-'}}
        </div>
        <div style="text-align: right;">
            <div ng-include="'partials/addon-info/buttons.html'"></div>
        </div>
    </div>
</div>
