<div ng-repeat="(i, repo) in main.repoList">
    <div class="addon-item">
        <div class="name">
            {{repo.bl_info.name}}
        </div>
        <div class="description">
            {{repo.bl_info.description != undefined ? repo.bl_info.name : '(No Description)'}}
        </div>
        <div class="author">
            {{repo.bl_info.author != undefined ? repo.bl_info.author : '(Unknown)'}}
        </div>
        <div class="version">
            @{{repo.bl_info.version != undefined ? repo.bl_info.version : '-'}}
        </div>
        <div class="bl-version">
            #{{repo.bl_info.blender != undefined ? repo.bl_info.blender : '-'}}
        </div>
        <div class="category">
            ${{repo.bl_info.category != undefined ? repo.bl_info.category : '-'}}
        </div>
        <div style="text-align: right;">
            <div class="container-button-wrapper">
                <div class="download container-button" data-repo-index="{{i}}" ng-click="!isDlBtnLocked && onDlBtnClicked($event); $event.stopPropagation();">
                    {{showButtonLabel(repo);}}
                </div>
            </div>
            <div class="container-button-wrapper">
                <div class="remove container-button" data-repo-index="{{i}}" ng-click="!isRmBtnLocked && onRmBtnClicked($event); $event.stopPropagation();">
                    Remove
                </div>
            </div>
        </div>
    </div>
</div>
