<div ng-repeat="(i, key) in main.repoList">
    <div class="addon-item">
        <div class="name">
            {{addonStatus[key].installed[blVerSelect].bl_info.name}}
        </div>
        <div class="description">
            {{addonStatus[key].installed[blVerSelect].bl_info.description ? addonStatus[key].installed[blVerSelect].bl_info.description : '(No Description)'}}
        </div>
        <div class="author">
            {{addonStatus[key].installed[blVerSelect].bl_info.author ? addonStatus[key].installed[blVerSelect].bl_info.author : '(Unknown)'}}
        </div>
        <div class="version">
            @{{addonStatus[key].installed[blVerSelect].bl_info.version ? addonStatus[key].installed[blVerSelect].bl_info.version : '-'}}
        </div>
        <div class="bl-version">
            #{{addonStatus[key].installed[blVerSelect].bl_info.blender ? addonStatus[key].installed[blVerSelect].bl_info.blender : '-'}}
        </div>
        <div class="category">
            ${{addonStatus[key].installed[blVerSelect].bl_info.category ? addonStatus[key].installed[blVerSelect].bl_info.category : '-'}}
        </div>
        <div style="text-align: right;">
            <div class="container-button-wrapper">
                <div class="download container-button" data-repo-index="{{i}}" ng-click="!isDlBtnLocked && onDlBtnClicked($event); $event.stopPropagation();">
                    {{showButtonLabel(addonStatus[key].github);}}
                </div>
            </div>
            <div class="container-button-wrapper">
                <div class="remove container-button" data-repo-index="{{i}}" ng-click="!isRmBtnLocked && onRmBtnClicked($event); $event.stopPropagation();">
                    Remove
                </div>
            </div>
        </div>
    </div>
</div>
